/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400;2,700&display=swap"); */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mt-5 {
  margin-top: 32px;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 32px;
}

.col-4 {
  grid-column: span 4;
}

.col-8 {
  grid-column: span 8;
}

.col-12 {
  grid-column: span 12;
}
